flows.json
[{"id":"2e86f9c.c180006","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fb257e45.beeaa","type":"function","z":"2e86f9c.c180006","name":"","func":"global.set(\"ct\",msg.payload.ct)\nglobal.set(\"us\",msg.payload.us)\nglobal.set(\"up\",msg.payload.up)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"bn\",msg.payload.bn)\nglobal.set(\"bc\",msg.payload.bc)\nglobal.set(\"nn\",msg.payload.nn)\nglobal.set(\"mi\",msg.payload.mi)\nreturn msg;","outputs":1,"noerr":0,"x":245.50000762939453,"y":150.00000381469727,"wires":[["c3aa6c6b.93ead"]]},{"id":"c3aa6c6b.93ead","type":"http request","z":"2e86f9c.c180006","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":502,"y":126,"wires":[["bb8b9706.4da718","36bcb29e.042ede"]]},{"id":"bb8b9706.4da718","type":"debug","z":"2e86f9c.c180006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":732,"y":125,"wires":[]},{"id":"36bcb29e.042ede","type":"function","z":"2e86f9c.c180006","name":"","func":"var token=msg.payload.token;\nvar ct=global.get(\"ct\");\nvar us=global.get(\"us\");\nvar up=global.get(\"up\");\nvar ma=global.get(\"ma\");\nvar se=global.get(\"se\");\nvar bn=global.get(\"bn\");\nvar bc=global.get(\"bc\");\nvar nn=global.get(\"nn\");\nvar mi = global.get(\"mi\")\nmsg.payload={\"fields\":[\"clump_thickness\",\"uniformity_of_cell_size\",\"uniformity_of_cell_shape\",\"marginal_adhesion\",\"single_epithelial_cell_size\",\"bare_nuclei\",\"bland_chromatin\",\"normal_nucleoli\",\"mitosis\"],\"values\":[[ct,us,up,ma,se,bn,bc,nn,mi]]};\nmsg.headers={'Authorization':'Bearer'+token};\nreturn msg;","outputs":1,"noerr":0,"x":321.50001525878906,"y":306.99999809265137,"wires":[["cf2a1a84.6bc8f8","54ad1fbc.c60be"]]},{"id":"cf2a1a84.6bc8f8","type":"http request","z":"2e86f9c.c180006","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d1212687-308b-4e8a-8a85-2e9bf68ee7bb/deployments/bae61cd0-59ff-4fd3-8d71-1bda2da3c660/online","tls":"","proxy":"","authType":"basic","x":540.0000190734863,"y":305.99999809265137,"wires":[["36a1a39f.384d4c","7f5ad710.efae08"]]},{"id":"36a1a39f.384d4c","type":"debug","z":"2e86f9c.c180006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":735.5000257492065,"y":240.0000123977661,"wires":[]},{"id":"7f5ad710.efae08","type":"function","z":"2e86f9c.c180006","name":"","func":"msg.payload = msg.payload.values[0][0][0]\nvar predict\nif(msg.payload == 1){\npredict = \"will get effected with cancer\"\nmsg.payload = predict\n}\nif(msg.payload ===-0){\npredict = \"will notb get effected with cancer\"\nmsg.payload = predict\n}\nreturn msg;","outputs":1,"noerr":0,"x":750.5000267028809,"y":348,"wires":[["2df8a64d.4edaea"]]},{"id":"2df8a64d.4edaea","type":"ui_text","z":"2e86f9c.c180006","group":"915ba885.f292d8","order":2,"width":0,"height":0,"name":"","label":"cancer/non cancer","format":"{{msg.payload}}","layout":"row-spread","x":764,"y":496,"wires":[],"icon":"font-awesome/fa-bolt"},{"id":"d24a3b7.13178c8","type":"ui_form","z":"2e86f9c.c180006","name":"","label":"cancer","group":"915ba885.f292d8","order":1,"width":0,"height":0,"options":[{"label":"clump_thickness","value":"ct","type":"number","required":true},{"label":"uniformity_of_cell_size","value":"us","type":"number","required":true},{"label":"uniformity_of_cell_shape","value":"up","type":"number","required":true},{"label":"marginal_adhesion ","value":"ma","type":"number","required":true},{"label":"single_epithelial_cell_size","value":"se","type":"number","required":true},{"label":"bare_nuclei","value":"bn","type":"number","required":true},{"label":"bland_chromatin","value":"bc","type":"number","required":true},{"label":"normal_nucleoli","value":"nn","type":"number","required":true},{"label":"mitosis","value":"mi","type":"number","required":true}],"formValue":{"ct":"","us":"","up":"","ma":"","se":"","bn":"","bc":"","nn":"","mi":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":99.5,"y":263,"wires":[["fb257e45.beeaa"]]},{"id":"54ad1fbc.c60be","type":"debug","z":"2e86f9c.c180006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":497.5,"y":256,"wires":[],"l":false},{"id":"915ba885.f292d8","type":"ui_group","z":"","name":"Default","tab":"4777de15.5d9a9","disp":true,"width":"6","collapse":false},{"id":"4777de15.5d9a9","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]